[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiofiles = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
uvicorn = "*"
pytest-html = "*"

[dev-packages]

[requires]
python_version = "3.12"
